body {
    background-color: #ebebeb;
}
.circle {
    background-color: #ff0000;
    border-radius: 100%;
    position: absolute;
    -webkit-box-shadow: 0px 0px 27px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0px 0px 27px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         0px 0px 27px 0px rgba(50, 50, 50, 0.3);
}

.circle-container{
    position: absolute;
}

.instructions {
    font-family: arial;
    color:#444444;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    margin-top: -80px;
}